# Created by venv; see https://docs.python.org/3/library/venv.html
.env
.venv
env/
venv/
pycache
__pycache__
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

.DS_store
*.log
*.pyc